<div class="row">
	<div class="col-12">
		<input class="col-6" type="text"  [(ngModel)]="searchRes" (keyup)="search(searchRes)" placeholder="Search Any Character">
		<button class="btn btn-primary" (click)="search(searchRes)">Search</button>
	</div>
	<div class="col-12">
		<div class="row" *ngIf="apiData.response == 'success'; then success else error"></div>
		<ng-template #success>
			<h4>Results for {{apiData['results-for']}}</h4>
<!-- 		<div class="dropdown open">
			<a class="dropdown-item bg-light w-50" *ngFor="let result of apiData.results">{{result.name}}</a>
		</div> -->
		<div class="row">
			<div class="col-3 col-lg-3" *ngFor="let result of apiData.results">
				<div class="card m-auto text-center">
					<!-- <img class="card-img-top" src="{{result.image.url}}" width="200px" height="200px"> -->
					<div class="card-body">
						<h4 class="card-title text-dark">{{result.name}}</h4>
						<p class="card-text text-dark">{{result.work.occupation}}</p>
						<a class="btn btn-primary">{{result.biography['full-name']}}</a>
					</div>
				</div>
			</div>
		</div>

		</ng-template>
		<ng-template #error>
			<div *ngIf="apiData.response == 'error'">
				<h1>No Results</h1><br>
				{{apiData.error}}
			</div>
		</ng-template>
	</div>
</div>